__pycache__/*
src/__pycache__/*
.env
*.pyc
temp/*
processing/*
.venv/*

# django
*.sqlite3
media/*
static/*
armchairbackend/__pycache__/*
armchairbackend/migrations/__pycache__/*
armchairbackend/migrations/*
armchairbackend/processing/*
